@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-black bg-[#FFFDF5] selection:bg-yellow-300;
    font-family: 'Outfit', sans-serif;
  }
}

@layer components {
  .neo-border {
    @apply border-2 border-black md:border-4;
  }

  .neo-shadow {
    @apply shadow-[4px_4px_0px_0px_#000000] md:shadow-[6px_6px_0px_0px_#000000];
  }

  .neo-card {
    @apply neo-border neo-shadow bg-white rounded-xl overflow-hidden;
  }

  .neo-button {
    @apply neo-border neo-shadow px-6 py-3 rounded-xl font-black uppercase tracking-tight transition-all active:shadow-none active:translate-x-[4px] active:translate-y-[4px] disabled:opacity-50 disabled:grayscale;
  }

  .neo-input {
    @apply neo-border bg-white px-4 py-3 rounded-xl font-bold focus:outline-none focus:bg-yellow-50 transition-colors;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}